.holder{
	background-color:white;
	display:flex;
	flex-wrap:wrap;
	justify-content:space-between;
}
.item{
	height:80px;
	width:80px;
	font-size:25px;
	background-color:green;
}
/* Your CSS Code here. */